.articles {
    .article-first {
        margin-top: 2rem;
        text-align: center;
        color: #8C8C8C;
        font-size: 16px;
        font-weight: 600;
    }

    .article-main {
        padding: 0 2rem;
        margin-top: 1rem;

        .article-main-title {
            h1 {
                font-weight: 600;
                font-size: 2.6rem;
                margin-bottom: 0;
            }

            p {
                color: #8C8C8C;
                margin-top: 0.5rem;
                margin-bottom: 2rem;
                font-size: 13px;
            }
        }

        .article-main-main {
            .article-link {
                margin-bottom: 3rem;

                .article-link-picture {
                    width: 100%;
                    height: 33rem;
                    background-color: green;
                    position: relative;
                    margin-bottom: 1rem;

                    .zoom-out {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin: 2rem;

                        svg {
                            fill: #FFFFFF;
                        }
                    }
                }

                .article-link-content {
                    font-size: 20px;
                    font-weight: 400;
                    text-align: justify;
                    color: #4A4A4A;                    ;
                }
            }
        }

        .article-like {
            p {
                display: flex;
                align-items: center;
                font-size: large;
                color: #8C8C8C;

                span {
                    display: flex;
                    margin-right: 0.5rem;

                    svg {
                        fill: #000000;
                    }
                }

            }
        }
    }

    .discussion,
    .playlist {
        text-align: center;
    }

    .discussion {
        font-weight: 600;
        margin-bottom: 4rem;
        font-size: 2rem;

        p {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                display: flex;

                svg {
                    fill: #8C8C8C;
                }
            }
        }
    }

    .playlist {
        background-color: silver;
        min-height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: 600;
    }
}