.home-container{
  margin-top: 64px;
  .fan-favourites-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: black;
  }

  .latest-posts-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

    .latest-post-main-container{
      width: 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;
      .latest-post-container{
        width: 100%;
        margin-top: 50px;
      }
    }



  }
}
