.footer {
  //height: 70px;
  //margin-top: 20px;
  display: flex;
  grid-template-columns: 100px 100px 200px;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;

  .item {
    text-align: center;
    height: 50px;

    .subscribe {
      background-color: white;
      color: red;
      font-weight: 700;
      padding-right: 10px;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      padding-left: 20px;
    }
  }

  .secondary-item {
    display: flex;
    //grid-template-columns: 20px 170px;
    .icons {
      display: flex;
      flex-direction: column;
    }
  }

  .logo {
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }
}
